/* Resetowanie styli i ogólne formatowanie */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Styl nagłówka */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Styl sekcji "O Mnie" */
.about-me {
    padding: 2rem;
    background-color: #f5f5f5;
    text-align: center;
}

/* Styl nagłówka sekcji */
.about-me h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

/* Styl treści sekcji */
.about-me p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}

/* Dodatkowy styl dla zdjęcia */
.about-me img {
    max-width: 100%;
    border-radius: 50%;
    margin-top: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
